<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-crmBaseInfo-edit" th:object="${crmBaseInfo}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">客户名称：</label>
				<div class="col-sm-8">
					<input id="name" name="name" th:field="*{name}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">客户编码：</label>
				<div class="col-sm-8">
					<input id="code" name="code" th:field="*{code}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">组织类型：</label>
				<div class="col-sm-8">
					<!--<input id="orgType" name="orgType"  class="form-control" type="text">-->
					<select id="orgType" name="orgType" class="form-control" th:with="type=${@dict.getType('crm_org_type')}" th:field="*{orgType}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">客户方联系人：</label>
				<div class="col-sm-8">
					<input id="customContact" name="customContact" th:field="*{customContact}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">客户方联系方式：</label>
				<div class="col-sm-8">
					<input id="customContactPhone" name="customContactPhone" th:field="*{customContactPhone}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">我方联系人：</label>
				<div class="col-sm-8">
					<input id="contact" name="contact" th:field="*{contact}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">我方联系方式：</label>
				<div class="col-sm-8">
					<input id="contactPhone" name="contactPhone" th:field="*{contactPhone}" class="form-control" type="text">
				</div>
			</div>
			<!--<div class="form-group">	-->
				<!--<label class="col-sm-3 control-label">类别：</label>-->
				<!--<div class="col-sm-8">-->
					<!--<input id="type" name="type" th:field="*{type}" class="form-control" type="text">-->
				<!--</div>-->
			<!--</div>-->
			<div class="form-group">	
				<label class="col-sm-3 control-label">合作状态：</label>
				<div class="col-sm-8">
					<select name="status" class="form-control" th:with="type=${@dict.getType('crm_cor_status')}" th:field="*{status}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/crmBaseInfo"
		$("#form-crmBaseInfo-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-crmBaseInfo-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
